.CategoryItem {
    transition: 0.3s;
    padding-left: 20px;

}

.CategoryItem:hover {
    background-color: #bd2592;
    cursor: pointer;
}

.CategoryItem a {
    display: inline-block;
    text-decoration: none;
    color: black;
    width: 100%;
    padding: 10px 0;
    transition: 0.3s;
}

.CategoryItem:hover a {
    color: #fff;
}
