.Navbar {
    border: 1px solid #ccc;
    border-radius: 10px;
}
.Navbar .Title {
    color: #7A00A5;
    font-size: 24px;
    text-align: center;
    padding: 10px 10px 0 10px;
    margin-bottom: 10px;
}

.Navbar .CategoryList {
    list-style: none;
    font-size: 16px;
}
