.ProductSearch {
    grid-area: productSearch;
    align-self: end;
}

.ProductSearch .Input{
    padding: 3px 6px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
}

.ProductSearch .Input:focus {
    border-color: #888;
    outline: none;
}