.NewsItem {
    margin-bottom: 20px;

    border-bottom: 1px solid #ccc;

    padding-bottom: 20px;
}

.NewsItem .Title {
    font-size: 18px;
    margin-bottom: 10px;
}

.NewsItem .AddDate {
    color: #999;

    font-style: italic;
    margin-bottom: 10px;
}

.NewsItem .TextPreview {
    margin-bottom: 10px;
}