.Footer {
    padding: 20px 40px;

    grid-area: footer;
    grid-row-start: 3;
    grid-row-end: 4;
    display: grid;
    grid-template-areas: "menu contacts social";
    grid-template-columns: 1fr 1fr 1fr;

    line-height: 2em;
    color: #fff;

    background-image: linear-gradient(to bottom, #B000BF, #7A00A5);
}

.Social {
    justify-self: center;
}

.Social .Ok {
    background-color: #ff7326;
}

.Social .Vk {
    background-color: #3e88ff;
}

.Social .Instagram {
    background-color: #ff4fb3;
}