* {
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
}
body {
  min-height: 100vh;
}

.app {
  display: grid;
  min-height: 100vh;
  grid-template-areas: "header" "main" "footer";
  grid-template-rows: auto 1fr auto;

  width: 80%;
  margin: 0 auto;
}

.btn {
  display: inline-block;
  padding: 5px 10px;
  background-color: #7A00A5;
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}

.btn:hover {
  background-color: #bd2592;
}

/* =================== Social icons block styles ==========================================*/
.social-links__social-icon {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 20px;
  vertical-align: bottom;
}

.social-links__social-icon_ok {
  background-color: #ff7326;
}

.social-links__social-icon_vk {
  background-color: #3e88ff;
}

.social-links__social-icon_instagram {
  background-color: #ff4fb3;
}

/* ============================ Header styles =================================*/
.header {
  display: grid;
  grid-area: header;

  grid-template-areas: "logo productSearch contacts" "menu menu menu" "slider slider slider";

  margin-bottom: 20px;
}

.logo {
  grid-area: logo;
  font-size: 72px;
  color: #7A00A5;
}

.logo .logo-caption {
  font-size: 36px;
  color: black;
}

.product-search {
  grid-area: productSearch;
  align-self: end;
}

.product-search__input{
  padding: 3px 6px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
}

.product-search__input:focus {
  border-color: #888;
  outline: none;
}

.header__social {
  margin-top: 10px;
}

.header__menu {
  width: 100%;
  margin: 20px 0;

  grid-area: menu;
  list-style: none;
  background-image: linear-gradient(to bottom, #B000BF, #7A00A5);

}

.header__menu-item {
  display: inline-block;
}

.header__menu-item a {
  text-decoration: none;
  color: #fff;
  display: block;
  padding: 10px 20px;
  transition: 0.3s;
}

.header__menu-item a:hover {
  background-color: #c700ff;
  background-image: none;
}

/* ============================ Contacts block styles =================================*/

.contacts {
  text-align: right;
  align-self: end;
  grid-area: contacts;
  line-height: 2em;
}

/* ============================ Footer styles =================================*/

.footer {
  padding: 20px 40px;

  grid-area: footer;
  grid-row-start: 3;
  grid-row-end: 4;
  display: grid;
  grid-template-areas: "menu contacts social";
  grid-template-columns: 1fr 1fr 1fr;

  line-height: 2em;
  color: #fff;

  background-image: linear-gradient(to bottom, #B000BF, #7A00A5);
}

.footer__menu {
  grid-area: menu;

  list-style: none;

  color: #fff;
}

.footer-social {
  justify-self: center;
}

/* ============================ Main block styles =================================*/

.main {
  display: grid;
  grid-area: main;

  grid-template-areas: "navbar pageContent";
  grid-template-columns: 1fr 5fr;
  grid-template-rows: auto;
  grid-gap: 40px;
}

.category-navbar {
  border: 1px solid #ccc;
  border-radius: 10px;
}
.category-navbar__title {
  color: #7A00A5;
  font-size: 24px;
  text-align: center;
  padding: 10px 10px 0 10px;
  margin-bottom: 10px;
}

.category-navbar__category-list {
  list-style: none;
  font-size: 16px;
}

.category-navbar__category-item {
  transition: 0.3s;
  padding-left: 20px;
  position: relative;
}

.category-navbar__category-item:hover {
  background-color: #bd2592;
  cursor: pointer;
}

.category-navbar__category-item .category-navbar__category-link {
  display: inline-block;
  text-decoration: none;
  color: black;
  width: 100%;
  padding: 10px 0;
  transition: 0.3s;
}

.category-navbar__category-item:hover .category-navbar__category-link {
  color: #fff;
}

.category-navbar__category-item:hover .category-navbar__sub-category-list  {
  display: block;
}

.category-navbar__sub-category-list {
  display: none;
  position: absolute;
  left: 100%;
  list-style: none;
  background-color: #fff;
  top: 10px;
  width: 100%;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 5px 0 #ccc;
}

.category-navbar__sub-category-item {
  padding-left: 10px;
}

.category-navbar__sub-category-link {
  color: black;
  display: inline-block;
  text-decoration: none;
  padding: 10px 0;
  width: 100%;
}

.category-navbar__sub-category-item:hover {
  background-color: #bd2592;
  cursor: pointer;
}

.category-navbar__sub-category-item:hover .category-navbar__sub-category-link {
  color: #fff;
}

.page-content {
  grid-area: pageContent;
  line-height: 2em;
}

.page-content__page-title {
  text-align: center;
  font-size: 28px;
  margin-bottom: 20px;
}

.news {
  margin-top: 20px;
  line-height: 2em;
}

.news__title {
  font-size: 24px;
  margin-bottom: 10px;
}

.news-item {
  margin-bottom: 20px;

  border-bottom: 1px solid #ccc;

  padding-bottom: 20px;
}

.news-item__title {
  font-size: 18px;
  margin-bottom: 10px;
}

.news-item__add-date {
  color: #999;
  font-style: italic;
  margin-bottom: 10px;
}

.news-item__preview {
  margin-bottom: 10px;
}